<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>array</key>
		<array>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>windows系统</string>
						<key>typeid</key>
						<string>144</string>
					</dict>
					<dict>
						<key>name</key>
						<string>笔记本</string>
						<key>typeid</key>
						<string>52</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Windows Phone</string>
						<key>typeid</key>
						<string>51</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Surface</string>
						<key>typeid</key>
						<string>50</string>
					</dict>
				</array>
				<key>desc</key>
				<string>笔记本超级本Win8平板手机</string>
				<key>fid</key>
				<string>101</string>
				<key>icon</key>
				<string>common_101_icon.png</string>
				<key>title</key>
				<string>微软同盟</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>Android手机</string>
						<key>typeid</key>
						<string>1</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Android平板</string>
						<key>typeid</key>
						<string>2</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Chormebook</string>
						<key>typeid</key>
						<string>105</string>
					</dict>
				</array>
				<key>desc</key>
				<string>安卓系统下的各类设备讨论</string>
				<key>fid</key>
				<string>91</string>
				<key>icon</key>
				<string>common_91_icon.png</string>
				<key>title</key>
				<string>安卓乐园</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>iPhone</string>
						<key>typeid</key>
						<string>3</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Mac</string>
						<key>typeid</key>
						<string>4</string>
					</dict>
					<dict>
						<key>name</key>
						<string>iPod</string>
						<key>typeid</key>
						<string>106</string>
					</dict>
					<dict>
						<key>name</key>
						<string>iTunes</string>
						<key>typeid</key>
						<string>107</string>
					</dict>
				</array>
				<key>desc</key>
				<string>苹果全系列产品讨论</string>
				<key>fid</key>
				<string>95</string>
				<key>icon</key>
				<string>common_95_icon.png</string>
				<key>title</key>
				<string>苹果之家</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>作品展示</string>
						<key>typeid</key>
						<string>11</string>
					</dict>
					<dict>
						<key>name</key>
						<string>器材讨论</string>
						<key>typeid</key>
						<string>12</string>
					</dict>
				</array>
				<key>desc</key>
				<string>爱生活，爱摄影，爱妹子</string>
				<key>fid</key>
				<string>96</string>
				<key>icon</key>
				<string>common_96_icon.png</string>
				<key>title</key>
				<string>色友俱乐部</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>电信CDMA及固网</string>
						<key>typeid</key>
						<string>9</string>
					</dict>
					<dict>
						<key>name</key>
						<string>联通WCDMA及固网</string>
						<key>typeid</key>
						<string>132</string>
					</dict>
					<dict>
						<key>name</key>
						<string>路由器及软件</string>
						<key>typeid</key>
						<string>10</string>
					</dict>
					<dict>
						<key>name</key>
						<string>移动TD及固网</string>
						<key>typeid</key>
						<string>8</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长城宽带系列</string>
						<key>typeid</key>
						<string>183</string>
					</dict>
				</array>
				<key>desc</key>
				<string>享受网络从了解网络开始</string>
				<key>fid</key>
				<string>97</string>
				<key>icon</key>
				<string>common_97_icon.png</string>
				<key>title</key>
				<string>宽带3G</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>折腾硬件</string>
						<key>typeid</key>
						<string>73</string>
					</dict>
					<dict>
						<key>name</key>
						<string>故障解析</string>
						<key>typeid</key>
						<string>74</string>
					</dict>
					<dict>
						<key>name</key>
						<string>虚心求教</string>
						<key>typeid</key>
						<string>75</string>
					</dict>
				</array>
				<key>desc</key>
				<string>攒机装机玩机，开机测机跑机</string>
				<key>fid</key>
				<string>78</string>
				<key>icon</key>
				<string>common_78_icon.png</string>
				<key>title</key>
				<string>硬件高手</string>
			</dict>
		</array>
		<key>title</key>
		<string>技术区</string>
	</dict>
	<dict>
		<key>array</key>
		<array>
			<dict>
				<key>icon</key>
				<string>111</string>
				<key>array</key>
				<array>
					<dict>
						<key>typeid</key>
						<string>213</string>
						<key>name</key>
						<string>新房团购</string>
					</dict>
					<dict>
						<key>typeid</key>
						<string>214</string>
						<key>name</key>
						<string>租房</string>
					</dict>
					<dict>
						<key>typeid</key>
						<string>215</string>
						<key>name</key>
						<string>购房答疑</string>
					</dict>
					<dict>
						<key>typeid</key>
						<string>216</string>
						<key>name</key>
						<string>买房故事</string>
					</dict>
					<dict>
						<key>typeid</key>
						<string>212</string>
						<key>name</key>
						<string>二手房买卖</string>
					</dict>
					<dict>
						<key>typeid</key>
						<string>211</string>
						<key>name</key>
						<string>购房资讯</string>
					</dict>
				</array>
				<key>fid</key>
				<string>159</string>
				<key>desc</key>
				<string>有钱的没钱的,都逃不过</string>
				<key>title</key>
				<string>极速房产</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>家电</string>
						<key>typeid</key>
						<string>83</string>
					</dict>
					<dict>
						<key>name</key>
						<string>家装</string>
						<key>typeid</key>
						<string>84</string>
					</dict>
					<dict>
						<key>name</key>
						<string>家具</string>
						<key>typeid</key>
						<string>141</string>
					</dict>
				</array>
				<key>desc</key>
				<string>家装家电房产</string>
				<key>fid</key>
				<string>81</string>
				<key>icon</key>
				<string>common_81_icon.png</string>
				<key>title</key>
				<string>我爱我家</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>股票</string>
						<key>typeid</key>
						<string>95</string>
					</dict>
					<dict>
						<key>name</key>
						<string>期货</string>
						<key>typeid</key>
						<string>96</string>
					</dict>
					<dict>
						<key>name</key>
						<string>证券</string>
						<key>typeid</key>
						<string>97</string>
					</dict>
					<dict>
						<key>name</key>
						<string>地产</string>
						<key>typeid</key>
						<string>98</string>
					</dict>
				</array>
				<key>desc</key>
				<string>你不理财，财不理你</string>
				<key>fid</key>
				<string>85</string>
				<key>icon</key>
				<string>common_85_icon.png</string>
				<key>title</key>
				<string>投资理财</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>影视作品</string>
						<key>typeid</key>
						<string>87</string>
					</dict>
					<dict>
						<key>name</key>
						<string>音乐作品</string>
						<key>typeid</key>
						<string>88</string>
					</dict>
					<dict>
						<key>name</key>
						<string>明星八卦</string>
						<key>typeid</key>
						<string>89</string>
					</dict>
					<dict>
						<key>name</key>
						<string>资源分享</string>
						<key>typeid</key>
						<string>140</string>
					</dict>
				</array>
				<key>desc</key>
				<string>影音人生，属于你的盗梦空间</string>
				<key>fid</key>
				<string>83</string>
				<key>icon</key>
				<string>common_83_icon.png</string>
				<key>title</key>
				<string>影音人生</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>坦克世界</string>
						<key>typeid</key>
						<string>90</string>
					</dict>
					<dict>
						<key>name</key>
						<string>暴雪出品</string>
						<key>typeid</key>
						<string>91</string>
					</dict>
					<dict>
						<key>name</key>
						<string>英雄联盟</string>
						<key>typeid</key>
						<string>180</string>
					</dict>
					<dict>
						<key>name</key>
						<string>手机游戏</string>
						<key>typeid</key>
						<string>181</string>
					</dict>
					<dict>
						<key>name</key>
						<string>EA之作</string>
						<key>typeid</key>
						<string>182</string>
					</dict>
				</array>
				<key>desc</key>
				<string>叱咤游戏，舍我其谁</string>
				<key>fid</key>
				<string>84</string>
				<key>icon</key>
				<string>common_84_icon.png</string>
				<key>title</key>
				<string>游戏世界</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>体坛风云</string>
						<key>typeid</key>
						<string>80</string>
					</dict>
					<dict>
						<key>name</key>
						<string>求医问药</string>
						<key>typeid</key>
						<string>81</string>
					</dict>
					<dict>
						<key>name</key>
						<string>养生之道</string>
						<key>typeid</key>
						<string>82</string>
					</dict>
				</array>
				<key>desc</key>
				<string>体坛，养生，求医问药</string>
				<key>fid</key>
				<string>82</string>
				<key>icon</key>
				<string>common_82_icon.png</string>
				<key>title</key>
				<string>强身健体</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>车市资讯</string>
						<key>typeid</key>
						<string>172</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新车咨询</string>
						<key>typeid</key>
						<string>13</string>
					</dict>
					<dict>
						<key>name</key>
						<string>买车作业</string>
						<key>typeid</key>
						<string>129</string>
					</dict>
					<dict>
						<key>name</key>
						<string>驾乘心得</string>
						<key>typeid</key>
						<string>77</string>
					</dict>
				</array>
				<key>desc</key>
				<string>今天你开车了吗</string>
				<key>fid</key>
				<string>98</string>
				<key>icon</key>
				<string>common_98_icon.png</string>
				<key>title</key>
				<string>极速汽车</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>行天下</string>
						<key>typeid</key>
						<string>78</string>
					</dict>
					<dict>
						<key>name</key>
						<string>食为先</string>
						<key>typeid</key>
						<string>79</string>
					</dict>
				</array>
				<key>desc</key>
				<string>外面的世界很精彩</string>
				<key>fid</key>
				<string>86</string>
				<key>icon</key>
				<string>common_86_icon.png</string>
				<key>title</key>
				<string>美食旅游</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>成长那点事</string>
						<key>typeid</key>
						<string>142</string>
					</dict>
					<dict>
						<key>name</key>
						<string>宝宝秀</string>
						<key>typeid</key>
						<string>94</string>
					</dict>
					<dict>
						<key>name</key>
						<string>宝宝健康</string>
						<key>typeid</key>
						<string>92</string>
					</dict>
					<dict>
						<key>name</key>
						<string>宝宝教育</string>
						<key>typeid</key>
						<string>143</string>
					</dict>
					<dict>
						<key>name</key>
						<string>宝宝食品</string>
						<key>typeid</key>
						<string>93</string>
					</dict>
				</array>
				<key>desc</key>
				<string>为人父母，天伦之乐</string>
				<key>fid</key>
				<string>87</string>
				<key>icon</key>
				<string>common_87_icon.png</string>
				<key>title</key>
				<string>亲亲宝贝</string>
			</dict>
			<dict>
				<key>needlogin</key>
				<true/>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>朋友那点事</string>
						<key>typeid</key>
						<string>64</string>
					</dict>
					<dict>
						<key>name</key>
						<string>曾经的我</string>
						<key>typeid</key>
						<string>65</string>
					</dict>
					<dict>
						<key>name</key>
						<string>不懂就要问</string>
						<key>typeid</key>
						<string>66</string>
					</dict>
					<dict>
						<key>name</key>
						<string>随便韶韶</string>
						<key>typeid</key>
						<string>67</string>
					</dict>
				</array>
				<key>desc</key>
				<string>分享生活苦与乐</string>
				<key>fid</key>
				<string>88</string>
				<key>icon</key>
				<string>common_88_icon.png</string>
				<key>title</key>
				<string>点滴生活</string>
			</dict>
		</array>
		<key>title</key>
		<string>生活区</string>
	</dict>
	<dict>
		<key>array</key>
		<array>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>机箱</string>
						<key>typeid</key>
						<string>54</string>
					</dict>
					<dict>
						<key>name</key>
						<string>显示器</string>
						<key>typeid</key>
						<string>53</string>
					</dict>
					<dict>
						<key>name</key>
						<string>CPU</string>
						<key>typeid</key>
						<string>40</string>
					</dict>
					<dict>
						<key>name</key>
						<string>电源</string>
						<key>typeid</key>
						<string>55</string>
					</dict>
					<dict>
						<key>name</key>
						<string>风扇</string>
						<key>typeid</key>
						<string>56</string>
					</dict>
					<dict>
						<key>name</key>
						<string>硬盘</string>
						<key>typeid</key>
						<string>57</string>
					</dict>
					<dict>
						<key>name</key>
						<string>内存</string>
						<key>typeid</key>
						<string>171</string>
					</dict>
					<dict>
						<key>name</key>
						<string>板卡</string>
						<key>typeid</key>
						<string>41</string>
					</dict>
				</array>
				<key>desc</key>
				<string>三大件及硬盘内存显示器等</string>
				<key>fid</key>
				<string>120</string>
				<key>icon</key>
				<string>common_120_icon.png</string>
				<key>title</key>
				<string>电脑散件</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>摄像头</string>
						<key>typeid</key>
						<string>42</string>
					</dict>
					<dict>
						<key>name</key>
						<string>路由器</string>
						<key>typeid</key>
						<string>58</string>
					</dict>
					<dict>
						<key>name</key>
						<string>网络播放器</string>
						<key>typeid</key>
						<string>59</string>
					</dict>
					<dict>
						<key>name</key>
						<string>光驱</string>
						<key>typeid</key>
						<string>60</string>
					</dict>
					<dict>
						<key>name</key>
						<string>办公耗材</string>
						<key>typeid</key>
						<string>61</string>
					</dict>
					<dict>
						<key>name</key>
						<string>移动存储</string>
						<key>typeid</key>
						<string>62</string>
					</dict>
					<dict>
						<key>name</key>
						<string>键鼠</string>
						<key>typeid</key>
						<string>43</string>
					</dict>
				</array>
				<key>desc</key>
				<string>键鼠、摄像头，办公耗材等</string>
				<key>fid</key>
				<string>122</string>
				<key>icon</key>
				<string>common_122_icon.png</string>
				<key>title</key>
				<string>配件外设</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>DIY配机</string>
						<key>typeid</key>
						<string>44</string>
					</dict>
					<dict>
						<key>name</key>
						<string>一体机</string>
						<key>typeid</key>
						<string>45</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HTPC</string>
						<key>typeid</key>
						<string>133</string>
					</dict>
					<dict>
						<key>name</key>
						<string>宽带安装</string>
						<key>typeid</key>
						<string>136</string>
					</dict>
				</array>
				<key>desc</key>
				<string>DIY整机、一体机交易</string>
				<key>fid</key>
				<string>123</string>
				<key>icon</key>
				<string>common_123_icon.png</string>
				<key>title</key>
				<string>整机风云</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>笔记本维修</string>
						<key>typeid</key>
						<string>135</string>
					</dict>
					<dict>
						<key>name</key>
						<string>全新笔记本</string>
						<key>typeid</key>
						<string>46</string>
					</dict>
					<dict>
						<key>name</key>
						<string>二手笔记本</string>
						<key>typeid</key>
						<string>47</string>
					</dict>
				</array>
				<key>desc</key>
				<string>笔记本交易</string>
				<key>fid</key>
				<string>124</string>
				<key>icon</key>
				<string>common_124_icon.png</string>
				<key>title</key>
				<string>时尚本本</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>平板</string>
						<key>typeid</key>
						<string>48</string>
					</dict>
					<dict>
						<key>name</key>
						<string>相机</string>
						<key>typeid</key>
						<string>49</string>
					</dict>
					<dict>
						<key>name</key>
						<string>其他数码</string>
						<key>typeid</key>
						<string>63</string>
					</dict>
					<dict>
						<key>name</key>
						<string>游戏机</string>
						<key>typeid</key>
						<string>130</string>
					</dict>
				</array>
				<key>desc</key>
				<string>平板相机及其他数码交易</string>
				<key>fid</key>
				<string>125</string>
				<key>icon</key>
				<string>common_125_icon.png</string>
				<key>title</key>
				<string>潮流数码</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>手机</string>
						<key>typeid</key>
						<string>20</string>
					</dict>
					<dict>
						<key>name</key>
						<string>手机配件</string>
						<key>typeid</key>
						<string>21</string>
					</dict>
				</array>
				<key>desc</key>
				<string>手机通讯产品交易</string>
				<key>fid</key>
				<string>128</string>
				<key>icon</key>
				<string>common_128_icon.png</string>
				<key>title</key>
				<string>移动天下</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>服装</string>
						<key>typeid</key>
						<string>24</string>
					</dict>
					<dict>
						<key>name</key>
						<string>鞋帽</string>
						<key>typeid</key>
						<string>25</string>
					</dict>
					<dict>
						<key>name</key>
						<string>配件</string>
						<key>typeid</key>
						<string>179</string>
					</dict>
					<dict>
						<key>name</key>
						<string>皮具</string>
						<key>typeid</key>
						<string>68</string>
					</dict>
					<dict>
						<key>name</key>
						<string>箱包</string>
						<key>typeid</key>
						<string>69</string>
					</dict>
					<dict>
						<key>name</key>
						<string>户外</string>
						<key>typeid</key>
						<string>109</string>
					</dict>
				</array>
				<key>desc</key>
				<string>人靠衣装马靠鞍</string>
				<key>fid</key>
				<string>130</string>
				<key>icon</key>
				<string>common_130_icon.png</string>
				<key>title</key>
				<string>服装鞋帽</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>机动车交易</string>
						<key>typeid</key>
						<string>116</string>
					</dict>
					<dict>
						<key>name</key>
						<string>装饰用品</string>
						<key>typeid</key>
						<string>117</string>
					</dict>
					<dict>
						<key>name</key>
						<string>汽车配件</string>
						<key>typeid</key>
						<string>118</string>
					</dict>
					<dict>
						<key>name</key>
						<string>保险修理</string>
						<key>typeid</key>
						<string>119</string>
					</dict>
					<dict>
						<key>name</key>
						<string>租车代驾</string>
						<key>typeid</key>
						<string>120</string>
					</dict>
				</array>
				<key>desc</key>
				<string>车辆交易、配件、装饰、修理</string>
				<key>fid</key>
				<string>143</string>
				<key>icon</key>
				<string>common_143_icon.png</string>
				<key>title</key>
				<string>汽车服务</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>烟酒</string>
						<key>typeid</key>
						<string>111</string>
					</dict>
					<dict>
						<key>name</key>
						<string>零食</string>
						<key>typeid</key>
						<string>70</string>
					</dict>
					<dict>
						<key>name</key>
						<string>调味</string>
						<key>typeid</key>
						<string>110</string>
					</dict>
					<dict>
						<key>name</key>
						<string>补品</string>
						<key>typeid</key>
						<string>72</string>
					</dict>
					<dict>
						<key>name</key>
						<string>餐饮</string>
						<key>typeid</key>
						<string>71</string>
					</dict>
					<dict>
						<key>name</key>
						<string>旅游</string>
						<key>typeid</key>
						<string>138</string>
					</dict>
				</array>
				<key>desc</key>
				<string>餐饮零食干货补品</string>
				<key>fid</key>
				<string>131</string>
				<key>icon</key>
				<string>common_131_icon.png</string>
				<key>title</key>
				<string>吃货天堂</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>家装</string>
						<key>typeid</key>
						<string>137</string>
					</dict>
					<dict>
						<key>name</key>
						<string>家电</string>
						<key>typeid</key>
						<string>30</string>
					</dict>
					<dict>
						<key>name</key>
						<string>家具</string>
						<key>typeid</key>
						<string>31</string>
					</dict>
					<dict>
						<key>name</key>
						<string>母婴</string>
						<key>typeid</key>
						<string>139</string>
					</dict>
				</array>
				<key>desc</key>
				<string>家电，家具，家用闲置物品</string>
				<key>fid</key>
				<string>133</string>
				<key>icon</key>
				<string>common_133_icon.png</string>
				<key>title</key>
				<string>跳蚤市场</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>海外代码</string>
						<key>typeid</key>
						<string>32</string>
					</dict>
				</array>
				<key>desc</key>
				<string>全球商品求购代购</string>
				<key>fid</key>
				<string>134</string>
				<key>icon</key>
				<string>common_134_icon.png</string>
				<key>title</key>
				<string>海淘代购</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>招聘会</string>
						<key>typeid</key>
						<string>99</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HR交流</string>
						<key>typeid</key>
						<string>100</string>
					</dict>
					<dict>
						<key>name</key>
						<string>人才招聘</string>
						<key>typeid</key>
						<string>101</string>
					</dict>
					<dict>
						<key>name</key>
						<string>兼职岗位</string>
						<key>typeid</key>
						<string>188</string>
					</dict>
					<dict>
						<key>name</key>
						<string>我要求职</string>
						<key>typeid</key>
						<string>189</string>
					</dict>
					<dict>
						<key>name</key>
						<string>版主推荐</string>
						<key>typeid</key>
						<string>190</string>
					</dict>
					<dict>
						<key>name</key>
						<string>职场资讯</string>
						<key>typeid</key>
						<string>191</string>
					</dict>
					<dict>
						<key>name</key>
						<string>本版公告</string>
						<key>typeid</key>
						<string>192</string>
					</dict>
				</array>
				<key>desc</key>
				<string>江苏省人力资源市场招聘版</string>
				<key>fid</key>
				<string>127</string>
				<key>icon</key>
				<string>common_127_icon.png</string>
				<key>title</key>
				<string>省人力资源市场招聘专版</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>性用品</string>
						<key>typeid</key>
						<string>35</string>
					</dict>
					<dict>
						<key>name</key>
						<string>钟表</string>
						<key>typeid</key>
						<string>34</string>
					</dict>
					<dict>
						<key>name</key>
						<string>美容/化妆</string>
						<key>typeid</key>
						<string>131</string>
					</dict>
				</array>
				<key>desc</key>
				<string>杂货交易</string>
				<key>fid</key>
				<string>135</string>
				<key>icon</key>
				<string>common_135_icon.png</string>
				<key>title</key>
				<string>杂货物品</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>个人求租</string>
						<key>typeid</key>
						<string>123</string>
					</dict>
					<dict>
						<key>name</key>
						<string>旺铺出租</string>
						<key>typeid</key>
						<string>124</string>
					</dict>
					<dict>
						<key>name</key>
						<string>个人出租</string>
						<key>typeid</key>
						<string>121</string>
					</dict>
					<dict>
						<key>name</key>
						<string>门面求租</string>
						<key>typeid</key>
						<string>122</string>
					</dict>
				</array>
				<key>desc</key>
				<string>商铺及个人租赁</string>
				<key>fid</key>
				<string>144</string>
				<key>icon</key>
				<string>common_144_icon.png</string>
				<key>title</key>
				<string>旺铺租赁</string>
			</dict>
			<dict>
				<key>array</key>
				<array>
					<dict>
						<key>name</key>
						<string>各类家修</string>
						<key>typeid</key>
						<string>126</string>
					</dict>
					<dict>
						<key>name</key>
						<string>疏通/回收</string>
						<key>typeid</key>
						<string>128</string>
					</dict>
					<dict>
						<key>name</key>
						<string>生活配送</string>
						<key>typeid</key>
						<string>127</string>
					</dict>
					<dict>
						<key>name</key>
						<string>保姆/月嫂</string>
						<key>typeid</key>
						<string>125</string>
					</dict>
				</array>
				<key>desc</key>
				<string>各种家政服务</string>
				<key>fid</key>
				<string>146</string>
				<key>icon</key>
				<string>common_146_icon.png</string>
				<key>title</key>
				<string>家政服务</string>
			</dict>
		</array>
		<key>title</key>
		<string>交易区</string>
	</dict>
</array>
</plist>
